<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="/assets/styles/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/styles/bootstrap-icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/slick.css"/>
    <link href="/assets/styles/tooplate-little-fashion.css" type="text/css" rel="stylesheet">
</head>
<body>


<!--
<center>
<h1>Registration</h1>

<form id="registrationForm" action="/addNewUser" method="post" enctype="application/x-www-form-urlencoded">
    <div><label for="name">Name:</label>
    <input type="text" id="name" name="name" required></div>
    <br>

    <div> <label for="email">Email:</label>
    <input type="email" id="email" name="email" required></div>
    <br>
    <div><label for="password">Password:</label>
    <input type="password" id="password" name="password" required></div>
    <br>
    <button type="submit">Register</button>
</form>
    <br>
    <a href="/tea">Вернуться на главную</a>
</center>
-->











<!--<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>-->

<main>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">

                   <!-- <h1 class="hero-title text-center mb-5">Регистрация</h1>-->
                    <h2 class="text-center mb-5"><span>Регистрация</span></h2>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form id="registrationForm" action="/addNewUser" method="post" enctype="application/x-www-form-urlencoded">


                                <div class="form-floating">
                                    <input type="name" name="name" id="name" class="form-control" placeholder="логин" required>
                                    <label for="name">логин</label>
                                </div>
                                <br>
                                <div class="form-floating">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="email" required>
                                    <label for="email">Email</label>
                                </div>

                                <div class="form-floating my-4">
                                    <input type="password" name="password" id="password" pattern="[а-яА-Я0-9a-zA-Z]{4,10}" class="form-control" placeholder="пароль" required>
                                    <label for="password">пароль</label>
                                    <p class="text-center">используйте цифры, заглавные, строчные буквы</p>
                                </div>

                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Создать аккаунт
                                </button>

                                <p class="text-center">Уже зарегестрированы? Пожалуйста, <strong><a href="/login">войдите</a></strong> </p>
                                <p class="text-center"><strong><a href="/tea">Вернуться на главную</a></strong></p>

                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</main>



</body>
</html>
